.vantagens-bg {
    background-color:  var(--cor-12);
}

.vantagens{
    padding:  120px 0;
}

.vantagens h2 {
    margin-bottom:  5rem;
}

.vantagens-lista-item {
    display:  grid;
    grid-template-columns:  repeat(auto-fit,minmax(280px, max-content));
    gap:  40px 80px;
}
.vantagens-lista-item li {
    display: grid ;
    grid-template-columns:  auto 1fr;
    gap:  5px 10px;
}
.vantagens-lista-item li p {
    grid-column:  1/-1;
}

@media(max-width:800px){
    .vantagens {
        padding:  53px ;
    }
    .vantagens-lista-item{
        grid-template-columns:  repeat(2, 1fr);
    }
}

@media(max-width:600px){
    .vantagens {
        padding:  22.5px ;
    }
    .vantagens-lista-item{
        grid-template-columns:  repeat(1, 1fr);
    }
}