#orcamento {
    background:  linear-gradient(
        var(--cor-11) 700px, var(--cor-0) 0
    );
}

.orcamento{
    display:  grid;
    grid-template-columns:  repeat(2, 1fr);
    padding:  120px 0;
}

.orcamento h2 {
    text-transform:  uppercase;
    position: relative;
    display:  flex;
    align-items:  center;
}
.orcamento h2::before {
    content:  "";
    display:  inline-block;
    width:  4px;
    height:  8px;
    background-color:  var(--cor-p1);
    position: absolute;
    left:  -12px;
}

.orcamento-produto,
.orcamento-dados {
    padding:  60px;
    box-shadow: 0 1px 2px rgba(0,0,0, .1) ;
}

.orcamento-produto {
    background-color:  var(--cor-12);
    border-radius:  5px 0 0 5px;
}

.orcamento-dados {
    border-radius:  0px 5px 5px 0;
    background-color:  var(--cor-0);
}

.orcamento-produto > * {
    grid-column:  1/ -1;
}
.orcamento-produto > label {
    grid-column:  initial;
}
.orcamento-produto {
    display:  grid;
    grid-template-columns:  repeat(2, 1fr);
    align-content:  start;
    gap:  20px;

}
.orcamento-produto label {
    font: 500 1rem/1.5 "Poppins", sans-serif;
    color:  var(--cor-4);
    background-color:  var(--cor-10);
    display:  block;
    padding:  12px 1rem;
    border-radius:  4px;
    cursor:  pointer;
    display:  grid;
    grid-template-columns:  auto 1fr auto;
    align-items:  center;
}
.orcamento-produto label::before{
    content:  "";
    display:  inline-block;
    width:  12px;
    height:  12px;
    border:  1px solid var(--cor-6);
    border-radius:  50%;
    margin-right:  8px;
}
.orcamento-produto input:checked + label::before {
    border-color:  var(--cor-7);
    box-shadow:  inset 0 0 0  3px var(--cor-0), inset 0 0 0 4px  var(--cor-7);
}
.orcamento-produto label:hover {
    background-color:  var(--cor-9);
}
.orcamento-produto input:focus + label {
    box-shadow:  0 0 0 1px var(--cor-p1);

}
.orcamento-produto label > span {
    display: none;
}

.orcamento-produto input:checked + label span {
    display:  inline-block;
}

.orcamento-produto input[type="radio"] {
    opacity:  0;
    position: absolute;
    pointer-events:  none;
}

.orcamento-produto input:checked + label {
    background-color:  var(--cor-0);
    color:  var(--cor-11);
}

.orcamento-conteudo {
    display:  none;
    gap:  20px;
}


.orcamento-detalhes {
    background-color:  var(--cor-0);
    padding:  20px;
    display:  none;
    grid-template-columns:  1fr 1fr;
    align-items: center;
    border-radius:  5px;
}

.orcamento-detalhes ul li {
    display:  flex;
    gap:  10px;
    align-items:  center;
    text-transform:  capitalize;
    color:  var(--cor-8);
}
.orcamento-detalhes ul li + li {
    margin-top:  1rem;
}

.orcamento-detalhes ul li img {
    width:  1rem;
}

.orcamento > .botao {
    margin-top:  2rem;
}

#bikcraft:checked ~  #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro{
    display:  grid;
}

input[name="produto"]:checked  + label + .orcamento-detalhes {
    display:  grid;
}

@media (max-width:800px ){
    .orcamento {
        grid-template-columns:  1fr;
        padding:  60px 0;
    }
}

@media (max-width:600px ){
    .orcamento-detalhes{
        grid-template-columns:  1fr;
        gap: 10px;
    }
}